body {
  background-color: black;
  color: white;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.list {
  margin: 40px 80px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: white;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateX(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__image {
    width: 100px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
  }

  &__title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__info {
    margin-top: 5px;
    font-size: 14px;
    color: #666;

    &-property {
      font-style: italic;
    }

    &-block {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

@media (max-width: 850px) {
  .list {
    margin: 20px 40px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .item {
    padding: 10px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .item__details {
    flex-direction: column;
    gap: 5px;
  }

  .item__title {
    font-size: 15px;
  }

  .item__info {
    font-size: 10px;
  }
}

button {
  padding: 10px 20px;
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2e2f30;
  }
}

.loading {
  text-align: center;
  font-size: 30px;
}
